<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head th:replace="~{template/Template :: head}">
        <title>CRUD customers</title>
    </head>
    <body>

    <header th:replace="~{template/Template :: header}"></header>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-6">
                    <h1 th:text="${titulo}"></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-6">
                    <a th:href="@{/views/clientes/create}" class="btn btn-primary">Crear cliente</a>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Nombres</th>
                            <th scope="col">Apellidos</th>
                            <th scope="col">Telefono</th>
                            <th scope="col">Email</th>
                            <th scope="col">Ciudad</th>
                            <th scope="col">Editar</th>
                            <th scope="col">Eliminar</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="cl:${clientes}">
                            <th scope="row" th:text="${cl.id}"></th>
                            <td th:text="${cl.nombres}"></td>
                            <td th:text="${cl.apellidos}"></td>
                            <td th:text="${cl.telefono}"></td>
                            <td th:text="${cl.email}"></td>
                            <td th:text="${cl.ciudad.nombre}"></td>
                            <td>
                                <a th:href="@{/views/clientes/edit/{id}(id=${cl.id})}" class="btn btn-warning">Editar</a>
                            </td>
                            <td>
                                <a th:href="@{/views/clientes/delete/{id}(id=${cl.id})}" class="btn btn-danger"
                                   onclick="return confirm('Esta seguro de eliminar el registro')">Eliminar</a>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <footer th:replace="~{template/Template :: footer}"></footer>
    </body>
</html>